* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100%;
	background-color: green;
}

.container {
	width: 100%;
	color: white;
	text-align: center;
	font-size: 1rem;
}

.page {
	padding: 100px 50px;
	overflow: hidden;
}

/*one page*/
.one {
	background-color: black;
}

.pic-outer {
	display: inline-block;
	width: 250px;
	height: 250px;
	position: relative;
}

.orbit {
	width: 250px;
	height: 250px;
	border-radius: 50%;
	border: 2px solid green;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.good {
  position: absolute;
  left: -5px;
  top: 49%;
  background-color: red;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform-origin: 129px 4px;
	animation: rotate 10s infinite linear;
}

.good2 {
  position: absolute;
  left: -15px;
  top: 49%;
  background-color: steelblue;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform-origin: 129px 4px;
	animation: rotate 5s infinite linear;
}

.good3 {
  position: absolute;
  left: 5px;
  top: 49%;
  background-color: orange;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform-origin: 129px 4px;
	animation: rotate 5s infinite linear;
}


.my-pic {
	position: absolute;
	width: 200px;
	height: 200px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.my-pic img{
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

@keyframes rotate {
  100% {
    transform: rotate(-360deg);
  }
}

.intro {
	width: 100%;
	margin-top: 50px;
	line-height: 2rem;
}

/*two page*/
.two {
	background-color: red;
}

/*three page*/
.three {
	background-color: grey;
}























